body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
   width: 100px;
   height: 100px;
   border-radius: 75px;
   border: none;
   background-color: rgb(0, 0, 0);
   color: white;
   font-size: xx-large;
   font-weight:400;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.687);
}
.operate{
    background-color: orangered;
}
.operate:hover{
    background-color:rgba(210, 100, 21, 0.354);
}
#keys{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    
}
#calculator{
    display: grid;
    max-height: 700px;
    padding: 20px;
    background-color: #808080;
    border-radius: 25px;

}
#display {
    background-color: rgba(199, 199, 199, 0.877);
    height: 100px;
    font-size: 2rem;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: right;
}
